<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">

      <div class="questions">

        <% @questions.each do |question| %>
        	<div class="question clearfix">
          	<div class="question-details">
            	<span class="question-title"><%= link_to question.title, question %></span>
            	<span class="question-description"><%= question.description %></span>
          	</div>
            <div class="question-comments">
              <span class="fas fa-comment-alt"></span>
              <span class="comment-count"><%= question.comments.count %></span>
            </div>
        	</div>
        <% end %>

      </div>

    </div>
  </div>
</div>